<div fxFlex="20" fxFlex.lt-md="5"></div>
<div fxFlex fxLayout="column">
  <div fxFlex="90" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center">
    <div fxFlex class="text-container" fxLayout="column" fxLayoutAlign="center" fxFlexFill>
      <h3 fxFlexOffset="15%">Sibul OÜ</h3>
      <div fxLayout="column" fxLayoutAlign="center">
        <h4>Juriidiline Aadress:</h4>
        <span>Suur-Kaare 17, Pärnamäe küla</span>
        <span>Viimsi vald 74020</span>
        <span>Mob: +372 516 0498</span>
        <span>email: info.sibul@gmail.com</span>
      </div>
      <div fxLayout="column" fxLayoutAlign="center">
        <h4>Tootmine:</h4>
        <span>Tammeõue tee 33, Viimsi vald</span>
        <span>Tiiu: +372 534 99081</span>
        <span>Mati: +372 534 99087</span>
      </div>
    </div>
    <div fxFlex class="map-container" fxLayout="column" fxLayoutAlign="center">
      <contact-map fxFlexOffset="15"></contact-map>
    </div>
  </div>
</div>
<div fxFlex="20" fxFlex.lt-md="5"></div>
