<div fxLayout="column">
  <div fxFlex="90" fxFlexOffset="10%" fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="20"></div>
    <div fxFlex class="text-container" fxLayout="column" fxLayoutAlign="center" fxFlexFill>
      <span>MyWebStore OÜ</span>
      <span>Address: 123 Fake Street, Imaginary City</span>
      <span>Phone: 73353 7707</span>
      <span>email: trump@company.ru</span>
    </div>
    <div fxFlex class="map-container" fxLayout="column" fxLayoutAlign="center" fxFill>
      <contact-map></contact-map>
    </div>
    <div fxFlex="20"></div>
  </div>
</div>
