<product-categories></product-categories>
<div fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="15"></div>
  <div fxLayout="row" fxFlex fxLayoutAlign="center">
    <ul fxLayout="row wrap" fxLayoutAlign="start center" *ngIf="show && products" [@listAnimation]="products.length">
      <li>
        <products-add-product></products-add-product>
      </li>
      <li *ngFor="let product of products">
        <button mat-icon-button (click)="removeProduct(product)">
          <mat-icon svgIcon="add_circle"></mat-icon>
        </button>
        <product-listing [product]="product"></product-listing>
      </li>
    </ul>
  </div>
  <div fxFlex="15"></div>
</div>
