<products-toolbar></products-toolbar>
<div fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="15"></div>
  <div fxLayout="row" fxFlex fxLayoutAlign="center">
    <ul fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="show && products" [@listAnimation]="products.length">
      <li>
        <products-add-product></products-add-product>
      </li>
      <li *ngFor="let product of products; trackBy: trackElement">
        <delete-button (click)="removeProduct(product)"></delete-button>
        <product-listing [product]="product"></product-listing>
      </li>
    </ul>
  </div>
  <div fxFlex="15"></div>
</div>
