mat-card {
  margin: 0.5em;
  min-height: 12em;
  min-width: 9em;
  max-width: 9em;
  transition: 1s;
}

mat-card:hover {
  color: #217626;
}

mat-card-title {
  margin: 1em;
  text-align: center;
}

mat-icon {
  width: 100%;
  height: 100%;
}

a {
  width: 8em;
  height: 8em;
  display: block;
  margin: 1em auto;
}

@media(max-width: 959px) {
  mat-card {
    margin: 0.5em;
    width: calc(100vw * 0.9);
    height: calc((100vw * 0.9) * 1.3);
    overflow-wrap: break-word;
    cursor: pointer;
  }
}
