<div fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="15" fxFlex.lt-md="5"></div>
  <div fxFlex fxLayout="column" fxLayoutAlign="flex-start">
    <div fxLayout="row" fxLayoutAlign="center">
      <h2 fxFlexAlign="center">{{'HOME.WELCOME_MESSAGE' | translate}}</h2>
      <a *ngIf="user && (user.role === 'USER' || user.role === 'ADMIN')" mat-button [routerLink]="'./new'">{{'HOME.BTN_NEW' | translate}}</a>
    </div>
    <ul *ngIf="news && show" [@listAnimation]="news.length">
      <li *ngFor="let news_component of getSortedNews()">
        <delete-button (click)="removeNews(news_component)"></delete-button>
        <news-component [news]="news_component"></news-component>
      </li>
    </ul>
  </div>
  <div fxFlex="15" fxFlex.lt-md="5"></div>
</div>
