ul {
  list-style: none;
  padding: 0;
}

li {
  position: relative;
  transition: 1s;
}
li:hover {
  transform: scale(1.02);
}

a {
  position: absolute;
  right: 0;
  margin: 1em;
  transition: 1s;
}

a:hover {
  color: #217626;
}
