<div>
  <form [formGroup]="filterForm" (ngSubmit)="onSubmit()" fxLayout="row" fxLayout.lt-md="column">
    <mat-form-field>
    <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option value="">All</mat-option>
        <mat-option *ngFor="let cat of categories" value="{{cat.name}}">{{cat.name | titlecase}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Search by name</mat-label>
      <input matInput type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Sort</mat-label>
      <mat-select formControlName="sort">
        <mat-option value="">Name</mat-option>
        <mat-option value="price">Price</mat-option>
        <mat-option value="stock">Availability</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Order</mat-label>
      <mat-select formControlName="order">
        <mat-option value="">Ascending</mat-option>
        <mat-option value="reverse">Descending</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button type="submit" [disabled]="!filterForm.valid">Search</button>
  </form>
</div>
