mat-card {
  width: 50%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

mat-card-header, mat-card-actions {
  margin-left: 1.6em;
}

mat-card-actions a, mat-card-actions button {
  margin-top: 0.5em;
}


img, img.mat-card-image {
  display: block;
  width: fit-content;
  max-width: 100%;
  object-fit: contain;
  margin: 0.5em;
  padding: 0;
}

div {
  margin: 0.5em;
}
@media only screen and (max-width: 600px) {
  mat-card {
    width: 80%;
  }
}
