<mat-card *ngIf="product">
  <mat-card-header>
    <mat-card-title>{{product.name | uppercase}} Details</mat-card-title>
    <mat-card-subtitle *ngIf="product.category">Category: {{product.category.name}}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="!product.category">Category: none</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="4">
      <mat-grid-tile [colspan]="2" [rowspan]="2"><img mat-card-image [attr.src]="productImage"></mat-grid-tile>
      <mat-grid-tile [colspan]="2">{{product.description}}</mat-grid-tile>
      <mat-grid-tile>Price: {{product.price}} €</mat-grid-tile>
      <mat-grid-tile>In Stock: {{product.amount}}</mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button [routerLink]="'/products'">Go Back</a>
  </mat-card-actions>
</mat-card>
