<div fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="15" fxFlex.lt-sm="5"></div>
  <div fxFlex fxLayout="column">
    <div [hidden]="submitted">
      <h2>{{'HOME.CREATE_NEWS.TITLE' | translate}}</h2>
      <form #newNewsForm (ngSubmit)="onSubmit()" fxLayout="column">

        <mat-form-field>
          <mat-label>{{'HOME.CREATE_NEWS.HEADLINE' | translate}}</mat-label>
          <input matNativeControl type="text" id="headline" required [(ngModel)]="news.headline" name="headline">
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'HOME.CREATE_NEWS.IMAGE' | translate}}</mat-label>
          <ngx-mat-file-input id="image" placeholder="Image" [(ngModel)]="imageFile" [accept]="'.jpg,.png'" name="image"></ngx-mat-file-input>
          <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'HOME.CREATE_NEWS.CONTENT' | translate}}</mat-label>
          <textarea matNativeControl type="text" id="content" required [(ngModel)]="news.content"
                    name="content"></textarea>
        </mat-form-field>

        <div fxLayoutAlign="center center">
          <button mat-raised-button type="submit">{{'HOME.CREATE_NEWS.SUBMIT' | translate}}</button>
        </div>
      </form>
    </div>

    <div [hidden]="!submitted">
      <h4>{{'HOME.CREATE_NEWS.MESSAGE_SUCCESS' | translate}}</h4>
      <button mat-raised-button (click)="newNews(); newNewsForm.reset()">{{'HOME.CREATE_NEWS.CREATE_MORE' | translate}}</button>
    </div>
  </div>
  <div fxFlex="15" fxFlex.lt-sm="5"></div>
</div>
