mat-card {
  display: block;
  width: 100%;
  min-width: 100%;
  margin: 0.5em;
  transition: 1s;
}

mat-card:hover {
  transform: scale(1.02);
}

mat-card-footer {
  text-align: end;
  color: #7e7e7e;
  padding-right: 1em;
}
