.mat-toolbar-row, .mat-toolbar {
  background-color: #414444;
  color: white;
}

a {
  text-decoration: none;
  color: #e5e5e5;
  margin-right: 15px;
}

a:hover,
a:active {
  color: #c5c5c5;
}

.fill {
  flex: 1 1 auto;
}
