<mat-toolbar class="header" fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="1em">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/home">Webstore</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <a mat-button routerLink="/home">Home</a>
        <a mat-button routerLink="/products">Products</a>
        <a mat-button routerLink="/contact">Contact</a>
  </div>
</mat-toolbar>
