a {
  text-decoration: none;
  font-size: 1.2em;
  color: #c2c2c2;
}

a:hover,
a:active {
  color: #c5c5c5;
}


h1 a {
  font-size: 1.3em;
  color: #d3d3d3;
}

.header {
  background-color: #414444;
  color: #efefef;
  padding-left: 1em;
  padding-right: 1em;
}

button {
  margin: 0;
  padding: 0;
}

@media(max-width: 959px) {
  mat-toolbar{
    border-radius: 0;
  }
}
