a {
  text-decoration: none;
  font-size: 1.5em;
  color: #e5e5e5;
}

a:hover,
a:active {
  color: #c5c5c5;
}

h1 {
  font-size: 1.6em;
}

.header {
  background-color: #414444;
  color: #efefef;
  padding-left: 1em;
  padding-right: 1em;
}
