<mat-toolbar class="header" fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="1em">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <h1><a routerLink="/home"><img src="/assets/img/sibul_logo.png" alt="logo"></a></h1>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <a mat-button routerLink="/home"> {{ 'HEADER.HOME' | translate }}</a>
    <a mat-button routerLink="/products">{{ 'HEADER.PRODUCTS' | translate }}</a>
    <a mat-button routerLink="/contact">{{ 'HEADER.CONTACT' | translate }}</a>
    <a *ngIf="user" mat-button routerLink="/admin">{{ 'HEADER.USERS' | translate }}</a>
    <!--- <a *ngIf="!user" mat-raised-button routerLink="/admin/login">Login</a> --->
    <a *ngIf="user" mat-raised-button (click)="openConfirmationDialog()">{{ 'HEADER.LOGOUT' | translate }}</a>
  </div>
</mat-toolbar>
